@page "/register"

<h3>Register for Event</h3>

<p>Fill out the form to register for the Blazor Developers Meetup.</p>

<!-- Simulación de formulario -->
<input placeholder="Your name" class="form-control mb-2" />
<input placeholder="Your email" class="form-control mb-2" />
<button class="btn btn-primary">Submit</button>
